@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  padding: 10px 0 12px;
  border-bottom: 1px solid #F4F4F4;
  transition: all .5s;
  z-index: 1000;
  &-fixed{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    transition: all .5s;
    box-shadow: 0px 2px 20px rgb(1 41 112 / 10%);
  }
  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav{
    display: flex;
    align-items: center;
  }
}
.logo__link{
  width: 84px;
  height: 79px;
  display: inline-block;
  margin-right: 106px;
}
.menu{
  &__list{
    display: flex;
    align-items: center;
  }
  &__item+.menu__item{
    padding-left: 52px;
  }
  &__item{
    font-size: 22px;
    line-height: 28px;
  }
  &__item--dropdown{
    padding-right: 19px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 13px;
      width: 13px;
      height: 14px;
      background-image: url('../images/icons/arrow-down.svg');
      background-repeat: no-repeat;
    }
  }
}
.user-nav{
  display: flex;
  align-items: center;
  &__launguage{
    display: flex;
    align-items: baseline;
    padding: 10px 19px 10px 0;
    font-size: 22px;
    line-height: 28px;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      right: 0;
      top: 22px;
      width: 13px;
      height: 14px;
      background-image: url('../images/icons/arrow-down.svg');
      background-repeat: no-repeat;
    }
  }
  .user-nav__launguage{
    cursor: pointer;
    &:hover{
      .launguage-dropdown {
        opacity: 1;
        top: 100%;
        visibility: visible;
      }
    }
  }
  .launguage-dropdown{
    opacity: 0;
    position: absolute;
    z-index: 100;
    display: block;
    left: -59px;
    margin: 0;
    padding: 10px 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
    transition: 0.3s;
    border-radius: 4px;
    top: calc(100% + 50px);
    min-width: 200px;
    &__item{
      padding: 10px 20px;
      font-size: 15px;
      text-transform: none;
      font-weight: 600;
    }
    &__link {
      display: flex;
      align-items: center;
      white-space: nowrap;
      font-size: 15px;
      line-height: 28px;
      color: #223344;
      transition: all .3s;
      &:hover{
        color: #4154f1;
      }
    }
  }
  &__launguage-img{
    margin-right: 5px;
  }
  &__item{
    margin-right: 40px;
  }
  &__account{
    display: flex;
    align-items: center;
    padding-right: 30px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 30px;
      width: 13px;
      height: 14px;
      background-image: url('../images/icons/arrow-down.svg');
      background-repeat: no-repeat;
    }
  }
  &__avatar{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
  }
  &__name{
    margin-left: 15px;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
  }
}

.aside{
  padding: 50px 0;
  &__item+.aside__item{
    margin-top: 50px;
  }
  &__link{
    display: flex;
    align-items: center;
    span{
      margin-left: 20px;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
    }
  }
  &__link--active{
    span{
      color: #6EBD1E;
      font-weight: 700;
    }
  }
}

.account{
  &__inner{
    display: flex;
  }
  &-content{
    width: 800px;
    margin-right: 30px;
    margin-left: auto;
    padding-top: 20px;
  }
  &-content__header-img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
}

.info{
  padding-top: 20px;
  padding-bottom: 50px; 
  border: 1px solid #F4F4F4;
  border-top: none;
  border-radius: 0 0 10px 10px;
  &__box{
    display: flex;
    justify-content: space-between;
    padding: 0 25px 0 50px;
  }
  &__user{
    display: flex;
  }
  &__avatar{
    padding: 3px;
    background-color: #fff;
    height: 134px;
    height: 134px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -75px;
  }
  &__name{
    margin-left: 30px;
  }
  &__title{
    font-weight: 900;
    font-size: 25px;
    line-height: 31px;
  }
  &__text{
    font-size: 14px;
    line-height: 21px;
    color: #606162;
    margin-bottom: 20px;
  }
  &__num{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-decoration: underline;
    display: inline-block;
    color: #606162;
    margin-left: 10px;
  }
  &__rate{
    display: flex;
    align-items: center;
  }
}

.info-send{
  display: flex;
  align-items: center;
  &__btn{
    background: #6EBD1E;
    border-radius: 5px;
    color: #fff;
    padding: 10px 17px;
    padding-left: 43px;
    border: none;
    position: relative;
    margin-right: 10px;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    &::before{
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      background-image: url('../images/icons/send.svg');
      left: 17px;
      background-repeat: no-repeat;
      top: 15px;
    }
  }
  &__favorite{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #6EBD1E;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
  }
}

.filter{
  width: 321px;
}

.footer{
  color: #fff;
  &-top{
    background: linear-gradient(99.32deg, #83DB2A 0%, #6EBD1E 100%);
    border-radius: 100px 100px 0px 0px;
    padding: 60px 0 30px;
  }
  &__logo{
    margin-bottom: 56px;
  }
}

.footer-top{
  background-image: url('../images/decore/footer-top-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  &__inner{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__item+.footer-top__item{
    padding-top: 25px;
  }
  &__list {
    max-width: 215px;
    width: 100%;
    margin-bottom: 50px;
  }
  &__title{
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  &__text{
    width: 187px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
  }
  &__mail{
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
  }
  &__list-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  &__list-item+.footer-top__list-item {
    margin-top: 15px;
  }
}

.social{
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  &__link+.social__link{
    margin-left: 30px;
  }
}

.donwload{
  &__link{
    display: block;
    margin-top: 25px;
  }
  &__link-img{
    border-radius: 10px;
  }
  &__img {
    margin-left: -80px;
  }
}

.footer-bottom{
  // background-image: url('../images/decore/footer-bottom-bg.jpg');
  // background-size: 100%;
  // background-position: center center;
  // background-repeat: no-repeat;
  background-color: #59B100;
  padding: 16px 0 18px;
  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  &__list{
    display: flex;
    align-items: center;
  }
  &__item+.footer-bottom__item{
    margin-left: 45px;
  }
}


@import 'media';